In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
%matplotlib inline

In [2]:
positions = pd.read_csv('Appearances.csv', sep=',', low_memory=False)

In [3]:
positions.head()

,yearID,teamID,lgID,playerID,G_all,GS,G_batting,G_defense,G_p,G_c,...,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of,G_dh,G_ph,G_pr
0,1871,BS1,NaN,barnero01,31,NaN,31,31,0,0,...,16,0,15,0,0,0,0,NaN,NaN,NaN
1,1871,BS1,NaN,barrofr01,18,NaN,18,18,0,0,...,1,0,0,13,0,4,17,NaN,NaN,NaN
2,1871,BS1,NaN,birdsda01,29,NaN,29,29,0,7,...,0,0,0,0,0,27,27,NaN,NaN,NaN
3,1871,BS1,NaN,conefr01,19,NaN,19,19,0,0,...,0,0,0,18,0,1,18,NaN,NaN,NaN
4,1871,BS1,NaN,gouldch01,31,NaN,31,31,0,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN

In [50]:
position = positions[['playerID','G_p','G_c','G_1b','G_2b','G_3b','G_ss','G_lf','G_cf','G_rf','G_of']]

In [51]:
position.head()

    playerID  G_p  G_c  G_1b  G_2b  G_3b  G_ss  G_lf  G_cf  G_rf  G_of
0  barnero01    0    0     0    16     0    15     0     0     0     0
1  barrofr01    0    0     0     1     0     0    13     0     4    17
2  birdsda01    0    7     0     0     0     0     0     0    27    27
3   conefr01    0    0     0     0     0     0    18     0     1    18
4  gouldch01    0    0    30     0     0     0     0     0     1     1

In [52]:
players = pd.read_csv('Master.csv', sep=',')

In [53]:
players.head()

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,aardsda01,1981,12,27,USA,CO,Denver,NaN,NaN,NaN,...,Aardsma,David Allan,205,75,R,R,4/6/2004,9/28/2013,aardd001,aardsda01
1,aaronha01,1934,2,5,USA,AL,Mobile,NaN,NaN,NaN,...,Aaron,Henry Louis,180,72,R,R,4/13/1954,10/3/1976,aaroh101,aaronha01
2,aaronto01,1939,8,5,USA,AL,Mobile,1984,8,16,...,Aaron,Tommie Lee,190,75,R,R,4/10/1962,9/26/1971,aarot101,aaronto01
3,aasedo01,1954,9,8,USA,CA,Orange,NaN,NaN,NaN,...,Aase,Donald William,190,75,R,R,7/26/1977,10/3/1990,aased001,aasedo01
4,abadan01,1972,8,25,USA,FL,Palm Beach,NaN,NaN,NaN,...,Abad,Fausto Andres,184,73,L,L,9/10/2001,4/13/2006,abada001,abadan01

In [54]:
player = players[['playerID','nameLast','nameFirst']]

In [55]:
player.head()

    playerID nameLast nameFirst
0  aardsda01  Aardsma     David
1  aaronha01    Aaron      Hank
2  aaronto01    Aaron    Tommie
3   aasedo01     Aase       Don
4   abadan01     Abad      Andy

In [58]:
players = pd.merge(player, position)

In [59]:
players.head()

,playerID,nameLast,nameFirst,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of
0,aardsda01,Aardsma,David,11,0,0,0,0,0,0,0,0,0
1,aardsda01,Aardsma,David,45,0,0,0,0,0,0,0,0,0
2,aardsda01,Aardsma,David,25,0,0,0,0,0,0,0,0,0
3,aardsda01,Aardsma,David,47,0,0,0,0,0,0,0,0,0
4,aardsda01,Aardsma,David,73,0,0,0,0,0,0,0,0,0

In [95]:
fielding = pd.read_csv('Fielding.csv', sep=',', low_memory=True)

In [96]:
fielding.head()

,playerID,yearID,stint,teamID,lgID,POS,G,GS,InnOuts,PO,A,E,DP,PB,WP,SB,CS,ZR
0,abercda01,1871,1,TRO,NaN,SS,1,NaN,NaN,1,3,2,0,NaN,NaN,NaN,NaN,NaN
1,addybo01,1871,1,RC1,NaN,2B,22,NaN,NaN,67,72,42,5,NaN,NaN,NaN,NaN,NaN
2,addybo01,1871,1,RC1,NaN,SS,3,NaN,NaN,8,14,7,0,NaN,NaN,NaN,NaN,NaN
3,allisar01,1871,1,CL1,NaN,2B,2,NaN,NaN,1,4,0,0,NaN,NaN,NaN,NaN,NaN
4,allisar01,1871,1,CL1,NaN,OF,29,NaN,NaN,51,3,7,1,NaN,NaN,NaN,NaN,NaN

In [99]:
fielding = fielding[['playerID', 'POS']]

In [100]:
fielding

         playerID POS
0       abercda01  SS
1        addybo01  2B
2        addybo01  SS
3       allisar01  2B
4       allisar01  OF
5       allisdo01   C
6       ansonca01  1B
7       ansonca01  2B
8       ansonca01  3B
9       ansonca01   C
10      ansonca01  OF
11      armstbo01  OF
12      barkeal01  OF
13      barnero01  2B
14      barnero01  SS
15      barrebi01  3B
16      barrebi01   C
17      barrofr01  2B
18      barrofr01  OF
19       bassjo01   C
20       bassjo01  SS
21      battijo01  OF
22      bealsto01  2B
23      bealsto01  OF
24      beaveed01  2B
25      bechtge01  3B
26      bechtge01  OF
27      bechtge01   P
28      bellast01  3B
29      bellast01  SS
...           ...  ..
167908   ynoara01  SS
167909  youngch03   P
167910  youngch04  CF
167911  youngch04  LF
167912  youngch04  LF
167913  youngch04  OF
167914  youngch04  OF
167915  youngch04  RF
167916  youngch04  RF
167917  youngde03  LF
167918  youngde03  OF
167919  youngde03  RF
167920  younger03  2B
167921  younger03  CF
167922  younger03  LF
167923  younger03  OF
167924   zeidjo01   P
167925  zieglbr01   P
167926  zimmejo02   P
167927  zimmery01  1B
167928  zimmery01  3B
167929  zimmery01  LF
167930  zimmery01  OF
167931  zobribe01  2B
167932  zobribe01  CF
167933  zobribe01  LF
167934  zobribe01  OF
167935  zobribe01  RF
167936  zobribe01  SS
167937  zuninmi01   C

[167938 rows x 2 columns]

In [60]:

batting = pd.read_csv('Batting.csv', sep=',', low_memory=True)

In [61]:
batting.head()

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4,0,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
1,addybo01,1871,1,RC1,NaN,25,118,30,32,6,...,13,8,1,4,0,NaN,NaN,NaN,NaN,NaN
2,allisar01,1871,1,CL1,NaN,29,137,28,40,4,...,19,3,1,2,5,NaN,NaN,NaN,NaN,NaN
3,allisdo01,1871,1,WS3,NaN,27,133,28,44,10,...,27,1,1,0,2,NaN,NaN,NaN,NaN,NaN
4,ansonca01,1871,1,RC1,NaN,25,120,29,39,11,...,16,6,2,2,1,NaN,NaN,NaN,NaN,NaN

In [62]:
batting_stats = batting[['playerID', 'yearID', 'teamID', 'G', 'AB', 'H', 'BB', 'HBP', 'SF']]

In [63]:
batting_stats.head()

    playerID  yearID teamID   G   AB   H  BB  HBP  SF
0  abercda01    1871    TRO   1    4   0   0  NaN NaN
1   addybo01    1871    RC1  25  118  32   4  NaN NaN
2  allisar01    1871    CL1  29  137  40   2  NaN NaN
3  allisdo01    1871    WS3  27  133  44   0  NaN NaN
4  ansonca01    1871    RC1  25  120  39   2  NaN NaN

In [ ]:
df1 = df[['a','b']]

In [64]:
salaries = pd.read_csv('Salaries.csv', sep=',')

In [65]:
salaries.head()

   yearID teamID lgID   playerID  salary
0    1985    ATL   NL  barkele01  870000
1    1985    ATL   NL  bedrost01  550000
2    1985    ATL   NL  benedbr01  545000
3    1985    ATL   NL   campri01  633333
4    1985    ATL   NL  ceronri01  625000

In [66]:
salary = salaries[['yearID', 'teamID', 'playerID', 'salary']]

In [67]:
salary.head()

   yearID teamID   playerID  salary
0    1985    ATL  barkele01  870000
1    1985    ATL  bedrost01  550000
2    1985    ATL  benedbr01  545000
3    1985    ATL   campri01  633333
4    1985    ATL  ceronri01  625000

In [101]:
player_batting_stats = pd.merge(pd.merge(players, batting_stats), fielding)
player_batting_stats.head()

,playerID,nameLast,nameFirst,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,...,G_of,yearID,teamID,G,AB,H,BB,HBP,SF,POS
0,aardsda01,Aardsma,David,11,0,0,0,0,0,0,...,0,2004,SFN,11,0,0,0,0,0,P
1,aardsda01,Aardsma,David,11,0,0,0,0,0,0,...,0,2004,SFN,11,0,0,0,0,0,P
2,aardsda01,Aardsma,David,11,0,0,0,0,0,0,...,0,2004,SFN,11,0,0,0,0,0,P
3,aardsda01,Aardsma,David,11,0,0,0,0,0,0,...,0,2004,SFN,11,0,0,0,0,0,P
4,aardsda01,Aardsma,David,11,0,0,0,0,0,0,...,0,2004,SFN,11,0,0,0,0,0,P

In [102]:
salary_player_stats = pd.merge(player_batting_stats, salary)

In [103]:
salary_player_stats.head()

,playerID,nameLast,nameFirst,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,...,yearID,teamID,G,AB,H,BB,HBP,SF,POS,salary
0,aardsda01,Aardsma,David,11,0,0,0,0,0,0,...,2004,SFN,11,0,0,0,0,0,P,300000
1,aardsda01,Aardsma,David,11,0,0,0,0,0,0,...,2004,SFN,11,0,0,0,0,0,P,300000
2,aardsda01,Aardsma,David,11,0,0,0,0,0,0,...,2004,SFN,11,0,0,0,0,0,P,300000
3,aardsda01,Aardsma,David,11,0,0,0,0,0,0,...,2004,SFN,11,0,0,0,0,0,P,300000
4,aardsda01,Aardsma,David,11,0,0,0,0,0,0,...,2004,SFN,11,0,0,0,0,0,P,300000

In [105]:

sps = salary_player_stats

In [73]:
sps.head()

,playerID,nameLast,nameFirst,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,...,G_of,yearID,teamID,G,AB,H,BB,HBP,SF,salary
0,aardsda01,Aardsma,David,11,0,0,0,0,0,0,...,0,2004,SFN,11,0,0,0,0,0,300000
1,aardsda01,Aardsma,David,45,0,0,0,0,0,0,...,0,2004,SFN,11,0,0,0,0,0,300000
2,aardsda01,Aardsma,David,25,0,0,0,0,0,0,...,0,2004,SFN,11,0,0,0,0,0,300000
3,aardsda01,Aardsma,David,47,0,0,0,0,0,0,...,0,2004,SFN,11,0,0,0,0,0,300000
4,aardsda01,Aardsma,David,73,0,0,0,0,0,0,...,0,2004,SFN,11,0,0,0,0,0,300000

In [106]:
sps['OBS'] =(sps['H']+sps['BB']+sps['HBP'])/(sps['AB']+sps['BB']+sps['HBP']+sps['SF'])

In [107]:
sps.head()

,playerID,nameLast,nameFirst,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,...,teamID,G,AB,H,BB,HBP,SF,POS,salary,OBS
0,aardsda01,Aardsma,David,11,0,0,0,0,0,0,...,SFN,11,0,0,0,0,0,P,300000,NaN
1,aardsda01,Aardsma,David,11,0,0,0,0,0,0,...,SFN,11,0,0,0,0,0,P,300000,NaN
2,aardsda01,Aardsma,David,11,0,0,0,0,0,0,...,SFN,11,0,0,0,0,0,P,300000,NaN
3,aardsda01,Aardsma,David,11,0,0,0,0,0,0,...,SFN,11,0,0,0,0,0,P,300000,NaN
4,aardsda01,Aardsma,David,11,0,0,0,0,0,0,...,SFN,11,0,0,0,0,0,P,300000,NaN

In [108]:
sps = sps.sort(columns=['AB'], axis=0, ascending=False, inplace=False, kind='quicksort', na_position='last')

In [109]:
sps

,playerID,nameLast,nameFirst,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,...,teamID,G,AB,H,BB,HBP,SF,POS,salary,OBS
5759450,rolliji01,Rollins,Jimmy,0,0,0,0,0,157,0,...,PHI,162,716,212,49,7,6,SS,8000000,0.344473
5759508,rolliji01,Rollins,Jimmy,0,0,0,0,0,155,0,...,PHI,162,716,212,49,7,6,SS,8000000,0.344473
5759497,rolliji01,Rollins,Jimmy,0,0,0,0,0,132,0,...,PHI,162,716,212,49,7,6,SS,8000000,0.344473
5759498,rolliji01,Rollins,Jimmy,0,0,0,0,0,132,0,...,PHI,162,716,212,49,7,6,SS,8000000,0.344473
5759499,rolliji01,Rollins,Jimmy,0,0,0,0,0,132,0,...,PHI,162,716,212,49,7,6,SS,8000000,0.344473
5759500,rolliji01,Rollins,Jimmy,0,0,0,0,0,155,0,...,PHI,162,716,212,49,7,6,SS,8000000,0.344473
5759501,rolliji01,Rollins,Jimmy,0,0,0,0,0,155,0,...,PHI,162,716,212,49,7,6,SS,8000000,0.344473
5759502,rolliji01,Rollins,Jimmy,0,0,0,0,0,155,0,...,PHI,162,716,212,49,7,6,2B,8000000,0.344473
5759503,rolliji01,Rollins,Jimmy,0,0,0,0,0,155,0,...,PHI,162,716,212,49,7,6,SS,8000000,0.344473
5759505,rolliji01,Rollins,Jimmy,0,0,0,0,0,155,0,...,PHI,162,716,212,49,7,6,SS,8000000,0.344473
5759506,rolliji01,Rollins,Jimmy,0,0,0,0,0,155,0,...,PHI,162,716,212,49,7,6,SS,8000000,0.344473
5759507,rolliji01,Rollins,Jimmy,0,0,0,0,0,155,0,...,PHI,162,716,212,49,7,6,SS,8000000,0.344473
5759509,rolliji01,Rollins,Jimmy,0,0,0,0,0,155,0,...,PHI,162,716,212,49,7,6,SS,8000000,0.344473
5759470,rolliji01,Rollins,Jimmy,0,0,0,0,0,162,0,...,PHI,162,716,212,49,7,6,2B,8000000,0.344473
5759510,rolliji01,Rollins,Jimmy,0,0,0,0,0,155,0,...,PHI,162,716,212,49,7,6,SS,8000000,0.344473
5759511,rolliji01,Rollins,Jimmy,0,0,0,0,0,155,0,...,PHI,162,716,212,49,7,6,SS,8000000,0.344473
5759512,rolliji01,Rollins,Jimmy,0,0,0,0,0,155,0,...,PHI,162,716,212,49,7,6,SS,8000000,0.344473
5759513,rolliji01,Rollins,Jimmy,0,0,0,0,0,155,0,...,PHI,162,716,212,49,7,6,SS,8000000,0.344473
5759514,rolliji01,Rollins,Jimmy,0,0,0,0,0,155,0,...,PHI,162,716,212,49,7,6,SS,8000000,0.344473
5759515,rolliji01,Rollins,Jimmy,0,0,0,0,0,155,0,...,PHI,162,716,212,49,7,6,SS,8000000,0.344473
5759516,rolliji01,Rollins,Jimmy,0,0,0,0,0,88,0,...,PHI,162,716,212,49,7,6,SS,8000000,0.344473
5759517,rolliji01,Rollins,Jimmy,0,0,0,0,0,88,0,...,PHI,162,716,212,49,7,6,SS,8000000,0.344473
5759518,rolliji01,Rollins,Jimmy,0,0,0,0,0,88,0,...,PHI,162,716,212,49,7,6,2B,8000000,0.344473
5759519,rolliji01,Rollins,Jimmy,0,0,0,0,0,88,0,...,PHI,162,716,212,49,7,6,SS,8000000,0.344473
5759496,rolliji01,Rollins,Jimmy,0,0,0,0,0,132,0,...,PHI,162,716,212,49,7,6,SS,8000000,0.344473
5759495,rolliji01,Rollins,Jimmy,0,0,0,0,0,132,0,...,PHI,162,716,212,49,7,6,SS,8000000,0.344473
5759494,rolliji01,Rollins,Jimmy,0,0,0,0,0,132,0,...,PHI,162,716,212,49,7,6,SS,8000000,0.344473
5759493,rolliji01,Rollins,Jimmy,0,0,0,0,0,132,0,...,PHI,162,716,212,49,7,6,SS,8000000,0.344473
5759472,rolliji01,Rollins,Jimmy,0,0,0,0,0,162,0,...,PHI,162,716,212,49,7,6,SS,8000000,0.344473
5759473,rolliji01,Rollins,Jimmy,0,0,0,0,0,162,0,...,PHI,162,716,212,49,7,6,SS,8000000,0.344473
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7339082,zahnge01,Zahn,Geoff,29,0,0,0,0,0,0,...,CAL,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN
7339083,zahnge01,Zahn,Geoff,29,0,0,0,0,0,0,...,CAL,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN
7339084,zahnge01,Zahn,Geoff,28,0,0,0,0,0,0,...,CAL,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN
7339085,zahnge01,Zahn,Geoff,28,0,0,0,0,0,0,...,CAL,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN
7339086,zahnge01,Zahn,Geoff,28,0,0,0,0,0,0,...,CAL,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN
7339087,zahnge01,Zahn,Geoff,28,0,0,0,0,0,0,...,CAL,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN
7339088,zahnge01,Zahn,Geoff,28,0,0,0,0,0,0,...,CAL,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN
7339089,zahnge01,Zahn,Geoff,28,0,0,0,0,0,0,...,CAL,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN
7339090,zahnge01,Zahn,Geoff,28,0,0,0,0,0,0,...,CAL,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN
7339091,zahnge01,Zahn,Geoff,28,0,0,0,0,0,0,...,CAL,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN
7339092,zahnge01,Zahn,Geoff,28,0,0,0,0,0,0,...,CAL,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN
7339093,zahnge01,Zahn,Geoff,28,0,0,0,0,0,0,...,CAL,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN
7339094,zahnge01,Zahn,Geoff,28,0,0,0,0,0,0,...,CAL,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN
7339095,zahnge01,Zahn,Geoff,28,0,0,0,0,0,0,...,CAL,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN
7339096,zahnge01,Zahn,Geoff,28,0,0,0,0,0,0,...,CAL,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN
7339097,zahnge01,Zahn,Geoff,28,0,0,0,0,0,0,...,CAL,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN
7339098,zahnge01,Zahn,Geoff,7,0,0,0,0,0,0,...,CAL,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN
7339099,zahnge01,Zahn,Geoff,7,0,0,0,0,0,0,...,CAL,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN
7339100,zahnge01,Zahn,Geoff,7,0,0,0,0,0,0,...,CAL,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN
7339101,zahnge01,Zahn,Geoff,7,0,0,0,0,0,0,...,CAL,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN
7339102,zahnge01,Zahn,Geoff,7,0,0,0,0,0,0,...,CAL,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN
7339103,zahnge01,Zahn,Geoff,7,0,0,0,0,0,0,...,CAL,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN
7339104,zahnge01,Zahn,Geoff,7,0,0,0,0,0,0,...,CAL,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN
7339105,zahnge01,Zahn,Geoff,7,0,0,0,0,0,0,...,CAL,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN
7339106,zahnge01,Zahn,Geoff,7,0,0,0,0,0,0,...,CAL,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN
7339107,zahnge01,Zahn,Geoff,7,0,0,0,0,0,0,...,CAL,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN
7339108,zahnge01,Zahn,Geoff,7,0,0,0,0,0,0,...,CAL,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN
7339109,zahnge01,Zahn,Geoff,7,0,0,0,0,0,0,...,CAL,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN
7339110,zahnge01,Zahn,Geoff,7,0,0,0,0,0,0,...,CAL,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN
7339111,zahnge01,Zahn,Geoff,7,0,0,0,0,0,0,...,CAL,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN

In [115]:
sps['OBS_ratio'] = (sps['OBS']/sps['salary'])

In [116]:
sps

,playerID,nameLast,nameFirst,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,...,G,AB,H,BB,HBP,SF,POS,salary,OBS,OBS_ratio
5759450,rolliji01,Rollins,Jimmy,0,0,0,0,0,157,0,...,162,716,212,49,7,6,SS,8000000,0.344473,4.305913e-08
5759508,rolliji01,Rollins,Jimmy,0,0,0,0,0,155,0,...,162,716,212,49,7,6,SS,8000000,0.344473,4.305913e-08
5759497,rolliji01,Rollins,Jimmy,0,0,0,0,0,132,0,...,162,716,212,49,7,6,SS,8000000,0.344473,4.305913e-08
5759498,rolliji01,Rollins,Jimmy,0,0,0,0,0,132,0,...,162,716,212,49,7,6,SS,8000000,0.344473,4.305913e-08
5759499,rolliji01,Rollins,Jimmy,0,0,0,0,0,132,0,...,162,716,212,49,7,6,SS,8000000,0.344473,4.305913e-08
5759500,rolliji01,Rollins,Jimmy,0,0,0,0,0,155,0,...,162,716,212,49,7,6,SS,8000000,0.344473,4.305913e-08
5759501,rolliji01,Rollins,Jimmy,0,0,0,0,0,155,0,...,162,716,212,49,7,6,SS,8000000,0.344473,4.305913e-08
5759502,rolliji01,Rollins,Jimmy,0,0,0,0,0,155,0,...,162,716,212,49,7,6,2B,8000000,0.344473,4.305913e-08
5759503,rolliji01,Rollins,Jimmy,0,0,0,0,0,155,0,...,162,716,212,49,7,6,SS,8000000,0.344473,4.305913e-08
5759505,rolliji01,Rollins,Jimmy,0,0,0,0,0,155,0,...,162,716,212,49,7,6,SS,8000000,0.344473,4.305913e-08
5759506,rolliji01,Rollins,Jimmy,0,0,0,0,0,155,0,...,162,716,212,49,7,6,SS,8000000,0.344473,4.305913e-08
5759507,rolliji01,Rollins,Jimmy,0,0,0,0,0,155,0,...,162,716,212,49,7,6,SS,8000000,0.344473,4.305913e-08
5759509,rolliji01,Rollins,Jimmy,0,0,0,0,0,155,0,...,162,716,212,49,7,6,SS,8000000,0.344473,4.305913e-08
5759470,rolliji01,Rollins,Jimmy,0,0,0,0,0,162,0,...,162,716,212,49,7,6,2B,8000000,0.344473,4.305913e-08
5759510,rolliji01,Rollins,Jimmy,0,0,0,0,0,155,0,...,162,716,212,49,7,6,SS,8000000,0.344473,4.305913e-08
5759511,rolliji01,Rollins,Jimmy,0,0,0,0,0,155,0,...,162,716,212,49,7,6,SS,8000000,0.344473,4.305913e-08
5759512,rolliji01,Rollins,Jimmy,0,0,0,0,0,155,0,...,162,716,212,49,7,6,SS,8000000,0.344473,4.305913e-08
5759513,rolliji01,Rollins,Jimmy,0,0,0,0,0,155,0,...,162,716,212,49,7,6,SS,8000000,0.344473,4.305913e-08
5759514,rolliji01,Rollins,Jimmy,0,0,0,0,0,155,0,...,162,716,212,49,7,6,SS,8000000,0.344473,4.305913e-08
5759515,rolliji01,Rollins,Jimmy,0,0,0,0,0,155,0,...,162,716,212,49,7,6,SS,8000000,0.344473,4.305913e-08
5759516,rolliji01,Rollins,Jimmy,0,0,0,0,0,88,0,...,162,716,212,49,7,6,SS,8000000,0.344473,4.305913e-08
5759517,rolliji01,Rollins,Jimmy,0,0,0,0,0,88,0,...,162,716,212,49,7,6,SS,8000000,0.344473,4.305913e-08
5759518,rolliji01,Rollins,Jimmy,0,0,0,0,0,88,0,...,162,716,212,49,7,6,2B,8000000,0.344473,4.305913e-08
5759519,rolliji01,Rollins,Jimmy,0,0,0,0,0,88,0,...,162,716,212,49,7,6,SS,8000000,0.344473,4.305913e-08
5759496,rolliji01,Rollins,Jimmy,0,0,0,0,0,132,0,...,162,716,212,49,7,6,SS,8000000,0.344473,4.305913e-08
5759495,rolliji01,Rollins,Jimmy,0,0,0,0,0,132,0,...,162,716,212,49,7,6,SS,8000000,0.344473,4.305913e-08
5759494,rolliji01,Rollins,Jimmy,0,0,0,0,0,132,0,...,162,716,212,49,7,6,SS,8000000,0.344473,4.305913e-08
5759493,rolliji01,Rollins,Jimmy,0,0,0,0,0,132,0,...,162,716,212,49,7,6,SS,8000000,0.344473,4.305913e-08
5759472,rolliji01,Rollins,Jimmy,0,0,0,0,0,162,0,...,162,716,212,49,7,6,SS,8000000,0.344473,4.305913e-08
5759473,rolliji01,Rollins,Jimmy,0,0,0,0,0,162,0,...,162,716,212,49,7,6,SS,8000000,0.344473,4.305913e-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7339082,zahnge01,Zahn,Geoff,29,0,0,0,0,0,0,...,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN,NaN
7339083,zahnge01,Zahn,Geoff,29,0,0,0,0,0,0,...,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN,NaN
7339084,zahnge01,Zahn,Geoff,28,0,0,0,0,0,0,...,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN,NaN
7339085,zahnge01,Zahn,Geoff,28,0,0,0,0,0,0,...,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN,NaN
7339086,zahnge01,Zahn,Geoff,28,0,0,0,0,0,0,...,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN,NaN
7339087,zahnge01,Zahn,Geoff,28,0,0,0,0,0,0,...,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN,NaN
7339088,zahnge01,Zahn,Geoff,28,0,0,0,0,0,0,...,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN,NaN
7339089,zahnge01,Zahn,Geoff,28,0,0,0,0,0,0,...,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN,NaN
7339090,zahnge01,Zahn,Geoff,28,0,0,0,0,0,0,...,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN,NaN
7339091,zahnge01,Zahn,Geoff,28,0,0,0,0,0,0,...,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN,NaN
7339092,zahnge01,Zahn,Geoff,28,0,0,0,0,0,0,...,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN,NaN
7339093,zahnge01,Zahn,Geoff,28,0,0,0,0,0,0,...,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN,NaN
7339094,zahnge01,Zahn,Geoff,28,0,0,0,0,0,0,...,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN,NaN
7339095,zahnge01,Zahn,Geoff,28,0,0,0,0,0,0,...,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN,NaN
7339096,zahnge01,Zahn,Geoff,28,0,0,0,0,0,0,...,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN,NaN
7339097,zahnge01,Zahn,Geoff,28,0,0,0,0,0,0,...,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN,NaN
7339098,zahnge01,Zahn,Geoff,7,0,0,0,0,0,0,...,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN,NaN
7339099,zahnge01,Zahn,Geoff,7,0,0,0,0,0,0,...,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN,NaN
7339100,zahnge01,Zahn,Geoff,7,0,0,0,0,0,0,...,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN,NaN
7339101,zahnge01,Zahn,Geoff,7,0,0,0,0,0,0,...,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN,NaN
7339102,zahnge01,Zahn,Geoff,7,0,0,0,0,0,0,...,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN,NaN
7339103,zahnge01,Zahn,Geoff,7,0,0,0,0,0,0,...,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN,NaN
7339104,zahnge01,Zahn,Geoff,7,0,0,0,0,0,0,...,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN,NaN
7339105,zahnge01,Zahn,Geoff,7,0,0,0,0,0,0,...,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN,NaN
7339106,zahnge01,Zahn,Geoff,7,0,0,0,0,0,0,...,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN,NaN
7339107,zahnge01,Zahn,Geoff,7,0,0,0,0,0,0,...,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN,NaN
7339108,zahnge01,Zahn,Geoff,7,0,0,0,0,0,0,...,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN,NaN
7339109,zahnge01,Zahn,Geoff,7,0,0,0,0,0,0,...,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN,NaN
7339110,zahnge01,Zahn,Geoff,7,0,0,0,0,0,0,...,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN,NaN
7339111,zahnge01,Zahn,Geoff,7,0,0,0,0,0,0,...,7,NaN,NaN,NaN,NaN,NaN,P,550000,NaN,NaN

In [117]:
BBALL_year = sps[sps.yearID == 1999]
BBALL_year

,playerID,nameLast,nameFirst,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,...,G,AB,H,BB,HBP,SF,POS,salary,OBS,OBS_ratio
5215440,perezne01,Perez,Neifi,0,0,0,7,3,24,0,...,157,690,193,28,1,4,SS,400000,0.307054,7.676349e-07
5215441,perezne01,Perez,Neifi,0,0,0,7,3,24,0,...,157,690,193,28,1,4,SS,400000,0.307054,7.676349e-07
5215461,perezne01,Perez,Neifi,0,0,0,7,3,24,0,...,157,690,193,28,1,4,2B,400000,0.307054,7.676349e-07
5215442,perezne01,Perez,Neifi,0,0,0,7,3,24,0,...,157,690,193,28,1,4,2B,400000,0.307054,7.676349e-07
5215443,perezne01,Perez,Neifi,0,0,0,7,3,24,0,...,157,690,193,28,1,4,SS,400000,0.307054,7.676349e-07
5215444,perezne01,Perez,Neifi,0,0,0,7,3,24,0,...,157,690,193,28,1,4,2B,400000,0.307054,7.676349e-07
5215445,perezne01,Perez,Neifi,0,0,0,7,3,24,0,...,157,690,193,28,1,4,3B,400000,0.307054,7.676349e-07
5215446,perezne01,Perez,Neifi,0,0,0,7,3,24,0,...,157,690,193,28,1,4,SS,400000,0.307054,7.676349e-07
5215447,perezne01,Perez,Neifi,0,0,0,7,3,24,0,...,157,690,193,28,1,4,2B,400000,0.307054,7.676349e-07
5215439,perezne01,Perez,Neifi,0,0,0,7,3,24,0,...,157,690,193,28,1,4,2B,400000,0.307054,7.676349e-07
5215448,perezne01,Perez,Neifi,0,0,0,7,3,24,0,...,157,690,193,28,1,4,2B,400000,0.307054,7.676349e-07
5215450,perezne01,Perez,Neifi,0,0,0,7,3,24,0,...,157,690,193,28,1,4,SS,400000,0.307054,7.676349e-07
5215451,perezne01,Perez,Neifi,0,0,0,7,3,24,0,...,157,690,193,28,1,4,SS,400000,0.307054,7.676349e-07
5215452,perezne01,Perez,Neifi,0,0,0,7,3,24,0,...,157,690,193,28,1,4,2B,400000,0.307054,7.676349e-07
5215453,perezne01,Perez,Neifi,0,0,0,7,3,24,0,...,157,690,193,28,1,4,3B,400000,0.307054,7.676349e-07
5215454,perezne01,Perez,Neifi,0,0,0,7,3,24,0,...,157,690,193,28,1,4,SS,400000,0.307054,7.676349e-07
5215455,perezne01,Perez,Neifi,0,0,0,7,3,24,0,...,157,690,193,28,1,4,2B,400000,0.307054,7.676349e-07
5215456,perezne01,Perez,Neifi,0,0,0,7,3,24,0,...,157,690,193,28,1,4,2B,400000,0.307054,7.676349e-07
5215457,perezne01,Perez,Neifi,0,0,0,7,3,24,0,...,157,690,193,28,1,4,3B,400000,0.307054,7.676349e-07
5215458,perezne01,Perez,Neifi,0,0,0,7,3,24,0,...,157,690,193,28,1,4,3B,400000,0.307054,7.676349e-07
5215459,perezne01,Perez,Neifi,0,0,0,7,3,24,0,...,157,690,193,28,1,4,SS,400000,0.307054,7.676349e-07
5215460,perezne01,Perez,Neifi,0,0,0,7,3,24,0,...,157,690,193,28,1,4,SS,400000,0.307054,7.676349e-07
5215449,perezne01,Perez,Neifi,0,0,0,7,3,24,0,...,157,690,193,28,1,4,3B,400000,0.307054,7.676349e-07
5215365,perezne01,Perez,Neifi,0,0,0,53,10,21,0,...,157,690,193,28,1,4,3B,400000,0.307054,7.676349e-07
5215462,perezne01,Perez,Neifi,0,0,0,7,3,24,0,...,157,690,193,28,1,4,3B,400000,0.307054,7.676349e-07
5215463,perezne01,Perez,Neifi,0,0,0,7,3,24,0,...,157,690,193,28,1,4,SS,400000,0.307054,7.676349e-07
5215351,perezne01,Perez,Neifi,0,0,0,26,4,130,0,...,157,690,193,28,1,4,3B,400000,0.307054,7.676349e-07
5215350,perezne01,Perez,Neifi,0,0,0,26,4,130,0,...,157,690,193,28,1,4,2B,400000,0.307054,7.676349e-07
5215349,perezne01,Perez,Neifi,0,0,0,26,4,130,0,...,157,690,193,28,1,4,SS,400000,0.307054,7.676349e-07
5215348,perezne01,Perez,Neifi,0,0,0,26,4,130,0,...,157,690,193,28,1,4,SS,400000,0.307054,7.676349e-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7154227,willito02,Williams,Todd,29,0,0,0,0,0,0,...,13,NaN,NaN,NaN,NaN,NaN,P,201500,NaN,NaN
7154228,willito02,Williams,Todd,29,0,0,0,0,0,0,...,13,NaN,NaN,NaN,NaN,NaN,P,201500,NaN,NaN
7154229,willito02,Williams,Todd,29,0,0,0,0,0,0,...,13,NaN,NaN,NaN,NaN,NaN,P,201500,NaN,NaN
7154230,willito02,Williams,Todd,29,0,0,0,0,0,0,...,13,NaN,NaN,NaN,NaN,NaN,P,201500,NaN,NaN
7154231,willito02,Williams,Todd,29,0,0,0,0,0,0,...,13,NaN,NaN,NaN,NaN,NaN,P,201500,NaN,NaN
7154232,willito02,Williams,Todd,29,0,0,0,0,0,0,...,13,NaN,NaN,NaN,NaN,NaN,P,201500,NaN,NaN
7154233,willito02,Williams,Todd,72,0,0,0,0,0,0,...,13,NaN,NaN,NaN,NaN,NaN,P,201500,NaN,NaN
7154234,willito02,Williams,Todd,72,0,0,0,0,0,0,...,13,NaN,NaN,NaN,NaN,NaN,P,201500,NaN,NaN
7154235,willito02,Williams,Todd,72,0,0,0,0,0,0,...,13,NaN,NaN,NaN,NaN,NaN,P,201500,NaN,NaN
7154236,willito02,Williams,Todd,72,0,0,0,0,0,0,...,13,NaN,NaN,NaN,NaN,NaN,P,201500,NaN,NaN
7154237,willito02,Williams,Todd,72,0,0,0,0,0,0,...,13,NaN,NaN,NaN,NaN,NaN,P,201500,NaN,NaN
7154238,willito02,Williams,Todd,72,0,0,0,0,0,0,...,13,NaN,NaN,NaN,NaN,NaN,P,201500,NaN,NaN
7154239,willito02,Williams,Todd,72,0,0,0,0,0,0,...,13,NaN,NaN,NaN,NaN,NaN,P,201500,NaN,NaN
7154240,willito02,Williams,Todd,72,0,0,0,0,0,0,...,13,NaN,NaN,NaN,NaN,NaN,P,201500,NaN,NaN
7154241,willito02,Williams,Todd,62,0,0,0,0,0,0,...,13,NaN,NaN,NaN,NaN,NaN,P,201500,NaN,NaN
7154242,willito02,Williams,Todd,62,0,0,0,0,0,0,...,13,NaN,NaN,NaN,NaN,NaN,P,201500,NaN,NaN
7154243,willito02,Williams,Todd,62,0,0,0,0,0,0,...,13,NaN,NaN,NaN,NaN,NaN,P,201500,NaN,NaN
7154244,willito02,Williams,Todd,62,0,0,0,0,0,0,...,13,NaN,NaN,NaN,NaN,NaN,P,201500,NaN,NaN
7154245,willito02,Williams,Todd,62,0,0,0,0,0,0,...,13,NaN,NaN,NaN,NaN,NaN,P,201500,NaN,NaN
7154246,willito02,Williams,Todd,62,0,0,0,0,0,0,...,13,NaN,NaN,NaN,NaN,NaN,P,201500,NaN,NaN
7154247,willito02,Williams,Todd,62,0,0,0,0,0,0,...,13,NaN,NaN,NaN,NaN,NaN,P,201500,NaN,NaN
7154248,willito02,Williams,Todd,62,0,0,0,0,0,0,...,13,NaN,NaN,NaN,NaN,NaN,P,201500,NaN,NaN
7154249,willito02,Williams,Todd,14,0,0,0,0,0,0,...,13,NaN,NaN,NaN,NaN,NaN,P,201500,NaN,NaN
7154250,willito02,Williams,Todd,14,0,0,0,0,0,0,...,13,NaN,NaN,NaN,NaN,NaN,P,201500,NaN,NaN
7154251,willito02,Williams,Todd,14,0,0,0,0,0,0,...,13,NaN,NaN,NaN,NaN,NaN,P,201500,NaN,NaN
7154252,willito02,Williams,Todd,14,0,0,0,0,0,0,...,13,NaN,NaN,NaN,NaN,NaN,P,201500,NaN,NaN
7154253,willito02,Williams,Todd,14,0,0,0,0,0,0,...,13,NaN,NaN,NaN,NaN,NaN,P,201500,NaN,NaN
7154254,willito02,Williams,Todd,14,0,0,0,0,0,0,...,13,NaN,NaN,NaN,NaN,NaN,P,201500,NaN,NaN
7154255,willito02,Williams,Todd,14,0,0,0,0,0,0,...,13,NaN,NaN,NaN,NaN,NaN,P,201500,NaN,NaN
7154256,willito02,Williams,Todd,14,0,0,0,0,0,0,...,13,NaN,NaN,NaN,NaN,NaN,P,201500,NaN,NaN

In [118]:
BBALL_year.drop_duplicates()
BBALL_year.dropna()

,playerID,nameLast,nameFirst,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,...,G,AB,H,BB,HBP,SF,POS,salary,OBS,OBS_ratio
5215440,perezne01,Perez,Neifi,0,0,0,7,3,24,0,...,157,690,193,28,1,4,SS,400000,0.307054,7.676349e-07
5215441,perezne01,Perez,Neifi,0,0,0,7,3,24,0,...,157,690,193,28,1,4,SS,400000,0.307054,7.676349e-07
5215461,perezne01,Perez,Neifi,0,0,0,7,3,24,0,...,157,690,193,28,1,4,2B,400000,0.307054,7.676349e-07
5215442,perezne01,Perez,Neifi,0,0,0,7,3,24,0,...,157,690,193,28,1,4,2B,400000,0.307054,7.676349e-07
5215443,perezne01,Perez,Neifi,0,0,0,7,3,24,0,...,157,690,193,28,1,4,SS,400000,0.307054,7.676349e-07
5215444,perezne01,Perez,Neifi,0,0,0,7,3,24,0,...,157,690,193,28,1,4,2B,400000,0.307054,7.676349e-07
5215445,perezne01,Perez,Neifi,0,0,0,7,3,24,0,...,157,690,193,28,1,4,3B,400000,0.307054,7.676349e-07
5215446,perezne01,Perez,Neifi,0,0,0,7,3,24,0,...,157,690,193,28,1,4,SS,400000,0.307054,7.676349e-07
5215447,perezne01,Perez,Neifi,0,0,0,7,3,24,0,...,157,690,193,28,1,4,2B,400000,0.307054,7.676349e-07
5215439,perezne01,Perez,Neifi,0,0,0,7,3,24,0,...,157,690,193,28,1,4,2B,400000,0.307054,7.676349e-07
5215448,perezne01,Perez,Neifi,0,0,0,7,3,24,0,...,157,690,193,28,1,4,2B,400000,0.307054,7.676349e-07
5215450,perezne01,Perez,Neifi,0,0,0,7,3,24,0,...,157,690,193,28,1,4,SS,400000,0.307054,7.676349e-07
5215451,perezne01,Perez,Neifi,0,0,0,7,3,24,0,...,157,690,193,28,1,4,SS,400000,0.307054,7.676349e-07
5215452,perezne01,Perez,Neifi,0,0,0,7,3,24,0,...,157,690,193,28,1,4,2B,400000,0.307054,7.676349e-07
5215453,perezne01,Perez,Neifi,0,0,0,7,3,24,0,...,157,690,193,28,1,4,3B,400000,0.307054,7.676349e-07
5215454,perezne01,Perez,Neifi,0,0,0,7,3,24,0,...,157,690,193,28,1,4,SS,400000,0.307054,7.676349e-07
5215455,perezne01,Perez,Neifi,0,0,0,7,3,24,0,...,157,690,193,28,1,4,2B,400000,0.307054,7.676349e-07
5215456,perezne01,Perez,Neifi,0,0,0,7,3,24,0,...,157,690,193,28,1,4,2B,400000,0.307054,7.676349e-07
5215457,perezne01,Perez,Neifi,0,0,0,7,3,24,0,...,157,690,193,28,1,4,3B,400000,0.307054,7.676349e-07
5215458,perezne01,Perez,Neifi,0,0,0,7,3,24,0,...,157,690,193,28,1,4,3B,400000,0.307054,7.676349e-07
5215459,perezne01,Perez,Neifi,0,0,0,7,3,24,0,...,157,690,193,28,1,4,SS,400000,0.307054,7.676349e-07
5215460,perezne01,Perez,Neifi,0,0,0,7,3,24,0,...,157,690,193,28,1,4,SS,400000,0.307054,7.676349e-07
5215449,perezne01,Perez,Neifi,0,0,0,7,3,24,0,...,157,690,193,28,1,4,3B,400000,0.307054,7.676349e-07
5215365,perezne01,Perez,Neifi,0,0,0,53,10,21,0,...,157,690,193,28,1,4,3B,400000,0.307054,7.676349e-07
5215462,perezne01,Perez,Neifi,0,0,0,7,3,24,0,...,157,690,193,28,1,4,3B,400000,0.307054,7.676349e-07
5215463,perezne01,Perez,Neifi,0,0,0,7,3,24,0,...,157,690,193,28,1,4,SS,400000,0.307054,7.676349e-07
5215351,perezne01,Perez,Neifi,0,0,0,26,4,130,0,...,157,690,193,28,1,4,3B,400000,0.307054,7.676349e-07
5215350,perezne01,Perez,Neifi,0,0,0,26,4,130,0,...,157,690,193,28,1,4,2B,400000,0.307054,7.676349e-07
5215349,perezne01,Perez,Neifi,0,0,0,26,4,130,0,...,157,690,193,28,1,4,SS,400000,0.307054,7.676349e-07
5215348,perezne01,Perez,Neifi,0,0,0,26,4,130,0,...,157,690,193,28,1,4,SS,400000,0.307054,7.676349e-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970758,olsongr01,Olson,Gregg,64,0,0,0,0,0,0,...,61,0,0,1,0,0,P,850000,1.000000,1.176471e-06
4970756,olsongr01,Olson,Gregg,64,0,0,0,0,0,0,...,61,0,0,1,0,0,P,850000,1.000000,1.176471e-06
4970766,olsongr01,Olson,Gregg,72,0,0,0,0,0,0,...,61,0,0,1,0,0,P,850000,1.000000,1.176471e-06
4970755,olsongr01,Olson,Gregg,64,0,0,0,0,0,0,...,61,0,0,1,0,0,P,850000,1.000000,1.176471e-06
4970754,olsongr01,Olson,Gregg,64,0,0,0,0,0,0,...,61,0,0,1,0,0,P,850000,1.000000,1.176471e-06
4970753,olsongr01,Olson,Gregg,64,0,0,0,0,0,0,...,61,0,0,1,0,0,P,850000,1.000000,1.176471e-06
4970752,olsongr01,Olson,Gregg,64,0,0,0,0,0,0,...,61,0,0,1,0,0,P,850000,1.000000,1.176471e-06
4970751,olsongr01,Olson,Gregg,64,0,0,0,0,0,0,...,61,0,0,1,0,0,P,850000,1.000000,1.176471e-06
4970750,olsongr01,Olson,Gregg,64,0,0,0,0,0,0,...,61,0,0,1,0,0,P,850000,1.000000,1.176471e-06
4970749,olsongr01,Olson,Gregg,64,0,0,0,0,0,0,...,61,0,0,1,0,0,P,850000,1.000000,1.176471e-06
4970765,olsongr01,Olson,Gregg,72,0,0,0,0,0,0,...,61,0,0,1,0,0,P,850000,1.000000,1.176471e-06
4970767,olsongr01,Olson,Gregg,72,0,0,0,0,0,0,...,61,0,0,1,0,0,P,850000,1.000000,1.176471e-06
4970785,olsongr01,Olson,Gregg,60,0,0,0,0,0,0,...,61,0,0,1,0,0,P,850000,1.000000,1.176471e-06
4970777,olsongr01,Olson,Gregg,72,0,0,0,0,0,0,...,61,0,0,1,0,0,P,850000,1.000000,1.176471e-06
4970784,olsongr01,Olson,Gregg,60,0,0,0,0,0,0,...,61,0,0,1,0,0,P,850000,1.000000,1.176471e-06
4970783,olsongr01,Olson,Gregg,60,0,0,0,0,0,0,...,61,0,0,1,0,0,P,850000,1.000000,1.176471e-06
4970782,olsongr01,Olson,Gregg,60,0,0,0,0,0,0,...,61,0,0,1,0,0,P,850000,1.000000,1.176471e-06
4970781,olsongr01,Olson,Gregg,60,0,0,0,0,0,0,...,61,0,0,1,0,0,P,850000,1.000000,1.176471e-06
4970780,olsongr01,Olson,Gregg,72,0,0,0,0,0,0,...,61,0,0,1,0,0,P,850000,1.000000,1.176471e-06
4970779,olsongr01,Olson,Gregg,72,0,0,0,0,0,0,...,61,0,0,1,0,0,P,850000,1.000000,1.176471e-06
4970778,olsongr01,Olson,Gregg,72,0,0,0,0,0,0,...,61,0,0,1,0,0,P,850000,1.000000,1.176471e-06
4970776,olsongr01,Olson,Gregg,72,0,0,0,0,0,0,...,61,0,0,1,0,0,P,850000,1.000000,1.176471e-06
4970768,olsongr01,Olson,Gregg,72,0,0,0,0,0,0,...,61,0,0,1,0,0,P,850000,1.000000,1.176471e-06
4970775,olsongr01,Olson,Gregg,72,0,0,0,0,0,0,...,61,0,0,1,0,0,P,850000,1.000000,1.176471e-06
4970774,olsongr01,Olson,Gregg,72,0,0,0,0,0,0,...,61,0,0,1,0,0,P,850000,1.000000,1.176471e-06
4970773,olsongr01,Olson,Gregg,72,0,0,0,0,0,0,...,61,0,0,1,0,0,P,850000,1.000000,1.176471e-06
4970772,olsongr01,Olson,Gregg,72,0,0,0,0,0,0,...,61,0,0,1,0,0,P,850000,1.000000,1.176471e-06
4970771,olsongr01,Olson,Gregg,72,0,0,0,0,0,0,...,61,0,0,1,0,0,P,850000,1.000000,1.176471e-06
4970770,olsongr01,Olson,Gregg,72,0,0,0,0,0,0,...,61,0,0,1,0,0,P,850000,1.000000,1.176471e-06
4970769,olsongr01,Olson,Gregg,72,0,0,0,0,0,0,...,61,0,0,1,0,0,P,850000,1.000000,1.176471e-06

In [119]:
BBALL = BBALL_year.sort(['OBS_ratio'], ascending=False)
BBALL = BBALL[BBALL.AB > 30]
BBALL = BBALL.drop_duplicates(['playerID'])
BBALL = BBALL.drop_duplicates(['POS'])

In [120]:
BBALL

,playerID,nameLast,nameFirst,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,...,G,AB,H,BB,HBP,SF,POS,salary,OBS,OBS_ratio
1797250,durazer01,Durazo,Erubiel,0,0,33,0,0,0,0,...,52,155,51,26,1,3,OF,200000,0.421622,0.000002
5638859,riosar01,Rios,Armando,0,0,0,0,0,0,0,...,72,150,49,24,1,1,CF,200000,0.420455,0.000002
5557187,reedje02,Reed,Jeff,0,111,0,0,0,0,0,...,57,150,39,28,2,1,DH,200000,0.381215,0.000002
420214,belliro01,Belliard,Ronnie,0,0,10,20,16,0,0,...,124,457,135,64,0,4,2B,200000,0.379048,0.000002
6072728,shumpte01,Shumpert,Terry,0,0,0,14,11,1,5,...,92,262,91,31,2,5,SS,220000,0.413333,0.000002
2336402,giambje01,Giambi,Jeremy,0,0,0,0,0,0,9,...,90,288,82,40,3,4,RF,200000,0.373134,0.000002
32264,agbaybe01,Agbayani,Benny,0,0,0,0,0,0,102,...,101,276,79,32,3,3,LF,200000,0.363057,0.000002
3115134,hernara02,Hernandez,Ramon,0,135,0,0,0,0,0,...,40,136,38,18,1,2,C,200000,0.363057,0.000002
1130200,caseyse01,Casey,Sean,0,0,131,0,0,0,0,...,151,594,197,61,9,5,1B,220000,0.399103,0.000002
3764049,konerpa01,Konerko,Paul,0,0,134,0,0,0,0,...,142,513,151,45,2,3,3B,215000,0.351687,0.000002
6758154,vazquja01,Vazquez,Javier,32,0,0,0,0,0,0,...,26,42,12,3,0,0,P,235000,0.333333,0.000001